/*the same for all*/
footer{
width: 100%;
background-color: white;
text-align: center;
font-family: 'Press Start 2P';
font-size: 1em;
margin: auto;
width: 100%;
}

/* desktop version screen size >=960px*/
body {
  background-color: #1919A6;
  margin-top: 50px;
}
form{
padding: 50px;
width: 500px;

}
#header{
  width: 100%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

#main{
  display: block;
  width: 960px;
  margin: auto;
  background: lime;
  font-family: Roboto;
}

#wrapper{
  width: 960px;
  margin: auto;
}

.form-fields {
  display: table-row;
  font-size: 25pt;
}
.form-button-field {

}

.form-checkbox-field{

}

label, input {
  display: table-cell;
  margin-bottom: 10px;
}

label {

}
h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
  margin: 25px;
}
.paraH1 {
  font-family: Roboto;
  font-size: 1.5em;
  margin: 10px;
}

/* media screeen for 992px */
@media screen and (max-width: 992px) {

#wrapper{
  width: 100%;
  margin: auto;
}
form{
padding: auto;
width: 100%;
}
}


/* media screeen for 600px and less */
@media screen and (max-width: 600px) {
	
 #wrapper{
  width: 100%;
  margin: auto;
}
form{
width: 100%;
}
}