/*the same for all*/
footer{
width: 100%;
background-color: white;
text-align: center;
font-family: 'Press Start 2P';
font-size: 1em;
margin: auto;
padding: 0.25em;
width: 100%;
}

body {
  background-color: #1919A6;
  margin: auto;
}


/* desktop version screen size >=960px*/

/*HEADER*/
#header{ 
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 940px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #0F469D;
}

.paraH1 {
  font-family: Roboto;
  font-size: 1.5em;
  color: #FFFF00;
  margin: 10px;
}

h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
  margin: 25px;
}
/*MAIN WRAPPER (around all sections*/
#main{
  display: block;
  width: 960px;
  margin: auto;
  font-family: Roboto;
}

#wrapper{
  width: 960px;
  margin: auto;
}

/*SECTIONS*/

.section-header{
	text-align: center;
    padding: 10px;
    border-radius: 50px;
    background-color: #0F469D;
    font-family: 'Press Start 2P', cursive;
}

/*form properties*/
form{
padding: 50px;
width: 500px;
background-color: yellow;
border-radius: 50px;
margin-top: 2em;
margin-bottom: 2em;
}

.section-content{
	background-color: yellow;
	border-radius: 50px;
	padding: 50px;
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
	font-size: 1.5em;
}

.form-button-field {
    width: 300px;
    background-color: #FD0000;
    border-radius: 50px;
    font-family: 'Press Start 2P';
    padding: 10px;
    margin-top: 15px;
}
#button-field{
font-size: 1em;
}
.form-checkbox-field{

}

label, input {
  display: table-cell;
  margin-bottom: 10px;
}

input{
  width: 100%;
}
iframe{
	width: 700px;
	margin-left: 130px;
	margin-right: 130px;
	height: 350px;
	margin-top: 2em;
	margin-bottom: 2em;
}


/* media screeen for 992px */
@media screen and (max-width: 992px) {

#wrapper{
  width: 100%;
  margin: auto;
}
form{
padding: auto;
width: 100%;
}
}


/* media screeen for 600px and less */
@media screen and (max-width: 600px) {
	
 #wrapper{
  width: 100%;
  margin: auto;
}
form{
width: 100%;
}
}